<template>
  <a
    href="https://gitlab.com/felixwege/computerizedcontrapuntalcanoncomposer"
    target="_blank"
    style="text-decoration: none"
    rel="noreferrer"
  >
    <div class="hint__circle">i</div>
  </a>
</template>

<script setup lang="ts"></script>

<style scoped>
.hint__circle {
  height: 16px;
  width: 16px;
  margin: 0 auto;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  color: black;
  text-align: center;
  line-height: 16px;
  font-family: arial;
  font-size: 12px;
  border: 1px solid black;
}
</style>
