<template>
  <div>
    <div v-if="isPlaying">
      <img src="/quarter_note.gif" class="bounce-animation-2" />
      <img src="/quarter_note.gif" class="bounce-animation-1-3" />
      <img src="/quarter_note.gif" class="bounce-animation-1" />
      <img src="/quarter_note.gif" class="bounce-animation-1-5" />
    </div>
    <div v-else-if="hasError">
      An error has occurred. Try reloading the page.
    </div>
    <button v-else @click="playNextCanon">Play</button>
  </div>
</template>

<script setup lang="ts">
import { ref, Ref } from "vue";
import Soundfont from "soundfont-player";
import { useMidiPlayer } from "./../composables/midiPlayer";
import { getCanon } from "./../utils/api";

const instrument: Ref<Soundfont.Player | undefined> = ref(undefined);
const nextCanon: Ref<Canon | undefined> = ref(undefined);
const audioContext = new AudioContext();
const isPlaying = ref(false);
const hasError = ref(false);

interface Canon {
  readonly buffer: ArrayBuffer;
  readonly uuid?: string;
}

const fetchNextCanon = async (): Promise<Canon> => {
  try {
    const response = await getCanon(nextCanon.value?.uuid);
    const canonUuid = response.headers.get("x-canon-uuid") ?? undefined;
    const blob = await response.blob();
    const buffer = await blob.arrayBuffer();
    const canon: Canon = { buffer: buffer, uuid: canonUuid };
    return Promise.resolve(canon);
  } catch (error) {
    return Promise.reject();
  }
};

const playNextCanon = async () => {
  if (instrument.value === undefined) {
    hasError.value = true;
    return;
  }

  if (nextCanon.value === undefined) {
    hasError.value = true;
    return;
  }

  try {
    // play canon
    const { midiPlayer, play } = useMidiPlayer(audioContext, instrument.value);
    play(nextCanon.value.buffer);
    isPlaying.value = true;

    // fetch next canon
    nextCanon.value = await fetchNextCanon();

    // register callback to play next canon
    midiPlayer.on("endOfFile", () => {
      playNextCanon();
    });
  } catch (error) {
    hasError.value = true;
  }
};

const init = async () => {
  try {
    instrument.value = await Soundfont.instrument(
      audioContext,
      "acoustic_grand_piano"
    );
    nextCanon.value = await fetchNextCanon();
  } catch (error) {
    hasError.value = true;
  }
};

await init();
</script>

<style scoped>
.bounce-animation-1 {
  animation: bounce 1s linear infinite;
}
.bounce-animation-1-5 {
  animation: bounce 1.5s linear infinite;
}
.bounce-animation-2 {
  animation: bounce 2s linear infinite;
}
.bounce-animation-1-3 {
  animation: bounce 1.3333333333s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
</style>
