<template>
  <Suspense>
    <div>
      <MidiPlayer class="midiplayer" />
      <HintIcon class="hint" />
    </div>
    <template #fallback>
      <div class="midiplayer">Loading...</div>
    </template>
  </Suspense>
</template>

<script setup lang="ts">
import MidiPlayer from "./components/MidiPlayer.vue";
import HintIcon from "./components/HintIcon.vue";
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.midiplayer {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.hint {
  position: absolute;
  top: 8px;
  right: 8px;
}
</style>
